<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add Answer</title>
  </head>
  <body>
    <div
      class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 font-sans text-2xl shadow-md"
    >
      <div class="flex flex-row justify-between pr-4">
        <h1 class="w-3/5 p-5 text-white"><%= question.title %></h1>
        <div class="flex flex-row justify-end">
          <div class="hover:bg-white/20 cursor-pointer flex items-center">
            <a href="/questions/edit/<%= question.id %>" class="text-white px-2">
              Back
            </a>
          </div>
          <div class="hover:bg-white/20 cursor-pointer flex items-center">
            <a href="/elections" class="text-white px-2">
              All Elections
            </a>
          </div>
          <div class="hover:bg-white/20 cursor-pointer flex items-center">
            <a href="/logout" class="text-white px-2">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <div class="shadow-xl p-4 mt-4 rounded-md w-3/5">
        <h1 class="text-2xl font-bold mb-4">Add new answer</h1>
        <form action="/answers/<%= question.id %>" method="post">
          <div class="flex-auto">
            <label for="body">Body</label>
            <input
              type="text"
              name="body"
              id="body"
              class="rounded w-full p-2 border-2 border-indigo-300"
            />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          </div>
          <div class="flex flex-row justify-end w-full">
            <button
              class="bg-pink-400 p-2 rounded m-2 hover:bg-pink-500 text-white"
              type="submit"
            >
              Add
            </button>
          </div>
        </form>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <%- include('error', {message: messages.error[i]}) %>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>
