<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Edit</title>
  </head>
  <body>
    <div class="p-5 bg-blue-400 font-sans text-2xl">
        <span>
          <h1>The app is running</h1>
            <p class="text-green-200"><a href="/elections/<%= question.electionId %>">Back</a></p>
      </span>
    </div>
    <div class="flex flex-row justify-center">
      <div class="shadow-xl p-4 mt-4 rounded-md">
        <h1 class="text-2xl font-bold mb-4">Edit Question</h1>
        <form action="/questions/<%= question.id %>" method="post">
          <div class="flex-auto">
            <label for="body">Question</label>
            <input
              type="text"
              name="title"
              id="title"
              class="rounded w-full p-2 border-2 border-blue-300"
              value="<%= question.title %>"
            />
          </div>
          <div class="flex-auto">
            <label for="body">Description</label>
            <input
              type="text"
              name="description"
              id="description"
              class="rounded w-full p-2 border-2 border-blue-300"
              value="<%= question.description %>"
            />
          </div>
          <input type="hidden" name="electionId" value="<%= question.electionId %>">
          <button
            class="bg-blue-500 p-2 rounded m-2 hover:bg-blue-600"
            type="submit"
          >
            Edit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>