<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      let token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      function deleteAnswer(id) {
        fetch(`/answers/${id}`, {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    </script>
    <title>Edit Question</title>
  </head>
  <body>
    <div
      class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 font-sans text-2xl shadow-md"
    >
      <div class="flex flex-row justify-between pr-4">
        <h1 class="w-3/5 p-5 text-white">Edit Question and answer options</h1>
        <div class="flex flex-row justify-end">
          <div class="hover:bg-white/20  cursor-pointer flex items-center">
            <a href="/elections/<%= question.electionId %>" class="text-white px-2">
              Back
            </a>
          </div>
          <div class="hover:bg-white/20  cursor-pointer flex items-center">
            <a href="/elections" class="text-white px-2">
              All Elections
            </a>
          </div>
          <div class="hover:bg-white/20  cursor-pointer flex items-center">
            <a href="/logout" class="text-white px-2">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <% if (election.state == "running") { %>
      <div class="flex flex-row flex-nowrap bg-yellow-300 p-4 mt-4 rounded-xl w-3/5 text-gray-600">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_6_8816)">
          <path d="M15.73 3H8.27L3 8.27V15.73L8.27 21H15.73L21 15.73V8.27L15.73 3ZM12 17.3C11.28 17.3 10.7 16.72 10.7 16C10.7 15.28 11.28 14.7 12 14.7C12.72 14.7 13.3 15.28 13.3 16C13.3 16.72 12.72 17.3 12 17.3ZM13 13H11V7H13V13Z" fill="white"/>
          </g>
          <defs>
          <clipPath id="clip0_6_8816">
          <rect width="24" height="24" fill="white"/>
          </clipPath>
          </defs>
          </svg>
          &nbsp;
        Cannot make changes to a running election
      </div>
      <% } %>
      <div class="h-1/6 text-white">.</div>
      <div class="shadow-xl p-4 mt-4 rounded-xl w-3/5 bg-purple-200">
        <h1 class="text-2xl font-bold mb-4">Edit Question</h1>
        <form action="/questions/<%= question.id %>" method="post">
          <div class="flex-auto">
            <label for="body">Question</label>
            <input
              type="text"
              name="title"
              id="title"
              class="rounded w-full p-2 border-2 border-indigo-300"
              value="<%= question.title %>"
            />
          </div>
          <div class="flex-auto">
            <label for="body">Description</label>
            <input
              type="text"
              name="description"
              id="description"
              class="rounded w-full p-2 border-2 border-indigo-300"
              value="<%= question.description %>"
            />
          </div>
          <input
            type="hidden"
            name="electionId"
            value="<%= question.electionId %>"
          />
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex flex-row w-full justify-end px-2 py-4">
            <button
              class="bg-pink-400 p-2 rounded m-2 hover:bg-pink-500 text-white"
              type="submit"
            >
              Save Changes
            </button>
          </div>
        </form>
        <div class="flex flex-row justify-between mx-4 mt-4">
          <h1 class="text-lg font-semibold">Answers</h1>
          <div
            class="bg-pink-400 rounded p-1 hover:bg-pink-500 text-white hover:cursor-pointer px-2"
          >
            <a href="/answers/<%= question.id %>">+ Add more</a>
          </div>
        </div>
        <% for(var i = 0; i < answers.length; i++) { %>
        <div class="flex flex-row mx-4 my-2">
          <form
            action="/answers/edit/<%= answers[i].id %>"
            method="post"
            class="w-full"
          >
            <input
              type="text"
              name="body"
              id="<%= answers[i].id %>"
              class="rounded w-full p-2 border-2 border-indigo-300"
              value="<%= answers[i].body %>"
            />
            <input
              type="hidden"
              name="questionId"
              value="<%= answers[i].questionId %>"
            />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="flex flex-row mt-2">
              <button
                type="submit"
                class="bg-indigo-400 p-2 h-3/4 rounded hover:bg-indigo-500 text-white"
              >
                Save
              </button>
              <a
                href="#"
                onclick="deleteAnswer('<%= answers[i].id %>')"
                class="pl-2"
              >
                <div
                  class="flex-auto bg-red-400 rounded px-1 py-2 hover:bg-red-500 text-white hover:cursor-pointer"
                >
                  Delete
                </div>
              </a>
            </div>
          </form>
        </div>
        <% } %>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <%- include('error', {message: messages.error[i]}) %>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>
