<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      // let token = document.querySelector('meta[name="csrf-token"]').content;
      function deleteElection(id, token) {
        let errBox = document.getElementById("err");
        fetch(`/elections/${id}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }

      function stopElection(id, token) {
        fetch(`/election/stop/${id}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    </script>
    <title>All Elections</title>
  </head>

  <body>
    <div
      class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 font-sans text-2xl shadow-md"
    >
      <div class="flex flex-row justify-between pr-4">
        <h1 class="w-3/5 p-5 text-white">Welcome, <%= name %></h1>
        <div class="flex flex-row justify-end">
          <div class="hover:bg-white/20 cursor-pointer flex items-center">
            <a href="/newpass" class="text-white px-2"> Change Password </a>
          </div>
          <div class="hover:bg-white/20 cursor-pointer flex items-center">
            <a href="/logout" class="text-white px-2"> Logout </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-end">
      <div
        class="flex flex-row flex-nowrap rounded bg-pink-400 hover:bg-pink-500 p-2 mt-4 mr-4 text-white shadow-md cursor-pointer"
      >
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_6_8870)">
        <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM17 13H13V17H11V13H7V11H11V7H13V11H17V13Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_6_8870">
        <rect width="24" height="24" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        
        <a href="/elections/add"> Add Election </a>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <% for(var i=0; i < elections.length; i++) { %>
      <div class="w-4/5 shadow-xl p-4 my-4 rounded-md bg-purple-200">
        <h1 class="text-2xl font-bold mb-4"><%= elections[i].title %></h1>
        <p class="text-lg text-gray-600 mb-4">
          <%= elections[i].description %>
        </p>
        <p class="text-lg text-gray-600 mb-4">
          Total Questions : <%= elections[i].Questions.length %>
        </p>
        <a
          href="/elections/<%= elections[i].id %>"
          class="bg-indigo-400 p-2 rounded m-2 hover:bg-indigo-500 text-white"
          >View details</a
        >
        <a
          href="#"
          onclick="deleteElection(`<%= elections[i].id %>`, `<%= csrfToken %>`)"
          class="bg-red-400 p-2 rounded m-2 hover:bg-red-500 text-white"
        >
          Delete
        </a>
        <% if(elections[i].state=="new" ) { %>
        <a
          href="/election/launch/<%= elections[i].id %>"
          class="bg-green-400 p-2 rounded m-2 hover:bg-green-500 text-white"
        >
          Launch
        </a>
        <% } else if (elections[i].state=="running" ) { %>
        <a
          href="#"
          onclick="stopElection(`<%= elections[i].id %>`, `<%= csrfToken %>`)"
          class="bg-purple-400 p-2 rounded m-2 hover:bg-purple-500 text-white"
        >
          Stop
        </a>
        <a
          href="/election/<%= elections[i].id %>/results"
          class="bg-pink-400 p-2 rounded m-2 hover:bg-pink-500 text-white"
        >
          Results
        </a>
        <% } else { %>
        <a href="" class="bg-gray-400 p-2 rounded m-2 hover:bg-gray-500 text-white">
          Ended
        </a>
        <a
          href="/election/<%= elections[i].id %>/results"
          class="bg-pink-400 p-2 rounded m-2 hover:bg-pink-500 text-white"
        >
          Results
        </a>
        <% } %>
      </div>
      <% } %>

      <div
        id="err"
        class="bg-red-500 mt-4 rounded font-mono font-semibold text-white"
      ></div>
      <div class="w-4/5 shadow-xl mt-4 rounded-md">
        <% if(messages && messages.error && messages.error.length> 0) { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <%- include('error', {message: messages.error[i]}) %>
          <% } %>
          <% } %>
      </div>
    </div>
  </body>
</html>
